body{

    background-color: rgb(255, 143, 112);
}
div{
    display: flex;
    margin: 20% 0;
    justify-content: center;
    /* align-items: center; */
}
.form{
    background-color: rgb(37, 37, 45, .6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin: auto 20px; */
    padding: 2rem;
    width: 35%;
    /* height: 60%; */
    border-radius: 1rem;
}
label{
    margin:.5rem 0;
    color:#fff;
    /* text-align: left; */
}
input{
    /* margin:.2rem 0; */
    /* text-align: left; */
    border: none;
    border-radius:2px;
    color: #000;
    
    outline:none;
    padding:.2rem;
    margin-bottom:.5rem;
}
input:hover {
    background: #ff3d54;
    outline:none;
    
}
input::placeholder{
    color:#fff;

}
#login-btn{
   margin:10px;
   background-color: #fff;
   color:#ff3d54;
   font-weight: 500;
   /* padding:; */
}
#login-btn:hover {
    background-color:#ff3d54;
    color:#fff;
}